{% extends 'base.html.twig' %}

{% block title %}Mon compte pharmacie-en ligne {% endblock %}

{% block content%}
<h1>Mon Compte </h1>
Bienvenue {{ app.user.name }} dans votre compte. <br>c'est dans cet espace que vous allez pouvoir 
gérer Toutes vos informations personelles.



{% endblock %}
